# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        minecraft: [ 1.20.1, 1.21.1, 1.21.8, 1.21.10, 1.21.11 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Cache Gradle
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/wrapper/dists
            ~/.gradle/caches
            ./bin
            ./*/bin
            ./checkouts
          key: gradle

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5 # v4.0.0

      - name: Build with Gradle Wrapper
        run: ./gradlew clean :${{matrix.minecraft}}:build

      - name: Get Mod Version
        run: |
          MOD_VERSION=$(grep "mod.version=" gradle.properties | cut -d'=' -f2)
          if [[ "${{ github.event.head_commit.message }}" == rel* ]]; then
          MOD_VERSION="${MOD_VERSION}-${{ github.run_number }}"
          fi
          echo "MOD_VERSION=$MOD_VERSION"
          echo "MOD_VERSION=$MOD_VERSION" >> $GITHUB_ENV
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: RCC-${{env.MOD_VERSION}}+${{matrix.minecraft}}
          path: versions/${{matrix.minecraft}}/build/libs/*.jar
          compression-level: 9


    # NOTE: The Gradle Wrapper is the default and recommended way to run Gradle (https://docs.gradle.org/current/userguide/gradle_wrapper.html).
    # If your project does not have the Gradle Wrapper configured, you can use the following configuration to run Gradle with a specified version.
    #
    # - name: Setup Gradle
    #   uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
    #   with:
    #     gradle-version: '8.9'
    #
    # - name: Build with Gradle 8.9
    #   run: gradle build
